/*header */
header{
    background-color:bisque;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;

}
nav  li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}
.nav title{
  font-size:2rem;
  font-weight: 700;
  color: black;
}

/*banner-content*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.banner-description{
    color: darkgrey;
}
.btn-primary{
    
}

